<div id="crew-page-header">
  <button type="button" [routerLink]="['/sign-in']">Back to sign-in</button>
  <div class="title justify-content-center">
    <h2 class="text-center text-light">All Crews</h2>
  </div>
</div>
<div id="crew-page-body">
  <!-- mat table with all crews-->
  <div class="mat-elevation-z8 table_crews">
    <mat-table [dataSource]="dataSourceCrew">
      <!-- name -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Crew</mat-header-cell>
        <mat-cell *matCellDef="let crew">
          <span class="mobile-label">Crew:</span>
          {{crew?.name}}
        </mat-cell>
      </ng-container>
      <!-- captain -->
      <ng-container matColumnDef="captain">
        <mat-header-cell *matHeaderCellDef>Captain</mat-header-cell>
        <mat-cell *matCellDef="let crew">
          <span class="mobile-label">Captain:</span>
          {{crew?.captain}}
        </mat-cell>
      </ng-container>
      <!-- shuttle -->
      <ng-container matColumnDef="shuttle">
        <mat-header-cell *matHeaderCellDef>Shuttle</mat-header-cell>
        <mat-cell *matCellDef="let crew">
          <span class="mobile-label">Shuttle:</span>
          {{crew?.shuttle}}
        </mat-cell>
      </ng-container>
      <!-- robots -->
      <ng-container matColumnDef="robots">
        <mat-header-cell *matHeaderCellDef>Robots</mat-header-cell>
        <mat-cell *matCellDef="let crew">
          <span class="mobile-label">Robots:</span>
          {{crew?.robots}}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!-- paginator of the tabele -->
    <mat-paginator [pageSizeOptions]="[5, 10, 15]"
       [pageSize] = "5">
    </mat-paginator>
  </div>
</div>
