html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#crew-page-header{
  height: 20%;
  background-color: #98353c;
  width: 100%;
}

#crew-page-body{
  height: 80%;
  background-color: #98353c;
}

table {
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}

.mat-header-cell, .mat-cell{
  justify-content: center;
}

@media(max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    padding: 8px 24px;
  }
}
