body{
  background-color:#98353c;
}

.sign-in-form{
  border: 6px solid black;
  background-color: white;
  width: 90%;
}

.mat-header-cell, .mat-cell{
  justify-content: center;
}

.mobile-label {
  display: none;
}

.button-width{
  width: 80%;
}

@media only screen and (max-width: 500px) {
  .button-width{
    width: 150% !important;
  }
}

@media(max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    padding: 8px 24px;
  }
}
