
<div class="modal-edit-planet">
	<mat-toolbar class="mat-elevation-z1 mb-4">
		<mat-toolbar-row class="text-light">
			<span>Edit Planet</span>
		</mat-toolbar-row>
	</mat-toolbar>
	<form [formGroup]="PlanetFormGroup" (ngSubmit)="onSave()">
    <mat-form-field>
      <input type="text" formControlName="name" matInput placeholder="Planet name" [readonly]="this.selectedPlanet.planetID !== this.invalidID"/>
      <mat-error>This field is mandatory.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-select formControlName="status" placeholder="Status">
        <ng-container>
          <mat-option value="{{status.ok}}">{{status.ok}}</mat-option>
          <mat-option value="{{status.not_ok}}">{{status.not_ok}}</mat-option>
          <mat-option value="{{status.en_route}}">{{status.en_route}}</mat-option>
          <mat-option value="{{status.to_do}}">{{status.to_do}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Leave a description</mat-label>
      <textarea matInput placeholder="Description..." formControlName="description"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input type="text" formControlName="imageURL" matInput placeholder="URL address of the image" [readonly]="this.selectedPlanet.planetID !== this.invalidID"/>
      <mat-error>This field is mandatory.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input type="number" min = "2" formControlName="numberOfRobots" matInput placeholder="Number of robots" [readonly]="this.selectedPlanet.planetID !== this.invalidID"/>
      <mat-error>This field is invalid.</mat-error>
    </mat-form-field>
    <div class="button-row">
      <br>
      <button mat-raised-button (click)="onClose()" class="button py-1 float-start h6 resize-button text-center button-size">Close</button>
      <button mat-raised-button type="submit" [disabled]="PlanetFormGroup.invalid" class="button py-1 float-end h6 resize-button text-center button-size">Save</button>
    </div>
	</form>
</div>
