<div id="planet-page-header">
  <div ngbDropdown class="dropdown">
    <button ngbDropdownToggle class="btn btn-light" type="button" id="dropdownMenuButton1" aria-expanded="false">Menu</button>
    <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
      <li *ngIf="typeOfUser === captainUser"><a ngbDropdownItem (click)="openModalPlanet(addPlanetType)">Add new planet</a></li>
      <li><a ngbDropdownItem (click)="backToSignIn()">Back to sign-in</a></li>
    </ul>
  </div>
  <div class="title justify-content-center">
    <h2 class="text-center text-light">XPAND</h2>
  </div>
</div>
<div id="planet-page-body">
  <!-- cards with the planets -->
  <div class="card border border-secondary mt-3 mx-3 px-2 large-card-margin" *ngFor="let planet of planets">
    <div (click)="editPlanet(planet)">
      <div class="row g-0 my-2 row-margin-bottom">
        <!-- image URL -->
        <div class="col-4 justify-content-center">
          <img src="{{planet.imageURL}}" class="img-fluid rounded-start" alt="{{planet.name}}">
        </div>
        <!-- description  and captain's name -->
        <div class="col-6 d-flex align-items-start flex-column ps-3">
              <p class="large-font-size">{{planet.description}}</p>
              <p *ngIf="planet.description" class="h4 mt-auto small-font-size"><b>by captain&nbsp;</b><u>{{planet.captain}}</u></p>
              <div *ngIf="!planet.description" class="m-auto justify-content-centerr">
                <p class="h1 text-center large-font-size">No description yet /:</p>
              </div>
        </div>
        <!-- status -->
        <div class="col-2 d-flex align-items-center justify-content-center">
          <p class="h1 text-center large-font-size" [ngClass]="{'text-success': planet.status===status.ok, 'text-danger': planet.status===status.not_ok
          ,'text-secondary': planet.status===status.en_route, 'text-primary': planet.status===status.to_do}">{{planet.status}}</p>
        </div>
      </div>
      <div class="row g-0 mb-1 row-margin-null">
        <!-- name of the planet -->
        <div class="col-4 justify-content-center">
          <h3 class="card-title font-weight-bold text-center large-font-size">{{planet.name}}</h3>
        </div>
        <!-- robots -->
        <div class="col-6 ps-3">
          <p *ngIf="planet.description" class="medium-font-size"><b>Robots: &nbsp;</b>{{planet.robots}}</p>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  </div>
</div>
