html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.page-header{
  height: 20%;
  background-color: #98353c;
  width: 100%;
}
.page-body{
  background-color: blue;
  height: 80%;
}

.large-font-size{
  font-size: 3vw;
}


.medium-font-size{
  font-size: 2.2vw;
}

.small-font-size{
  font-size: 1.8vw;
}

@media screen and (max-width: 350px) {

  .large-font-size{
    font-size: 2.5vw;
  }

  .medium-font-size{
    font-size: 2vw;
  }

  .row-margin-bottom{
    margin-bottom: 5px !important;
  }

  .row-margin-null{
    margin-bottom: 0 !important;
  }
}

